POSTGRES_DB=inventario
POSTGRES_USER=inventario
POSTGRES_PORT=5433
USUARIOS_PORT=8091
INVENTARIO_PORT=8092
POSTGRES_PASSWORD=REEMPLAZAR_CON_CLAVE_DE_BASE
MASTER_IDENTIFICATION=0000000000
MASTER_NAME=Administrador principal
MASTER_PASSWORD=REEMPLAZAR_CON_CLAVE_TEMPORAL
